/*body container*/
.body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/background-pic.jpg);
    background-attachment: fixed;
  }

/* mobile screen layout*/
@media screen and (max-width: 750px) {
  .body {
    margin: 0;
    padding: 0;
    max-width: 750px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .header-div {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bolder;
    background-color: wheat;
    margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
 /*intro container contents*/
  .intro-container {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    width: 350px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .profile-picture {
    display: flex;
    width: 110px;
    height: 150px;
    border-radius: 10px;
    justify-items:center;
    align-items: center;
    margin: 0 auto;
  }
  .intro-name {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
  }
 /*projects container section*/
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .project-header {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
  }
  /*individual projects container and layout*/
  .project-container {
    color: black;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    justify-items: center;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .project-image {
    display: flex;
    justify-self: center;
  }
  .projects-container a {
    text-decoration: none;
    font-weight: bolder;
  }
  /*future projects*/
  .upcomingProjects-container {
    background-color: peachpuff;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;

  }
  .upcoming-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .upcomingProjects-container li {
    margin-bottom: 5px;
  }
  /*about me section*/
  .about-container {
    background-color: peachpuff;
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
  }
  /*footer section*/
  .footer {
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
    color: white;
  }
}
